# Configuration Headscale – Installation native
HS_SERVER_URL=https://hs.mondomaine.com
HS_PORT=8443
HS_USER=admin@headscale.internal
HS_BASE_DOMAIN=headscale.internal
HS_DNS1=1.1.1.1
HS_DNS2=9.9.9.9
HS_LISTEN_ADDR=0.0.0.0
HS_LOG_LEVEL=info
HS_METRICS_PORT=9090
HS_VERSION=0.29.3
